<!DOCTYPE html>
<html>
<head>
  <title>CashlessShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>
<body>

  <nav>
    <div class="nav-wrapper blue darken-3">
      <a href="/" class="brand-logo">キャッシュレスシェア</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= current_user.nickname %> : </li>
        <li><%= link_to "投稿する", new_store_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %><li>
      <% end %>
        <li><%= link_to "検索する", search_stores_path, method: :get %></li>
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
